<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
        {% for foo in page %}
            <li>
                {{ foo.atitle }}
            </li>
        {% endfor %}
<br>
    {% if page.has_previous %}
        <a href="area{{ page.previous_page_number }}">&lt;上一页</a>
    {% endif %}

    {% for pindex in page.paginator.page_range %}
        {% if pindex == page.number %}
            {{ pindex }}
        {% else %}
            <a href="area{{ pindex }}">{{ pindex }}</a>
        {% endif %}
    {% endfor%}
    {% if page.has_next %}
        <a href="area{{ page.next_page_number }}">下一页&gt;</a>
    {% endif %}



</body>
</html>